.delay-0.plat {
    animation-delay: 0s;
}
.delay-1.plat {
    animation-delay: .1s;
}
.delay-2.plat {
    animation-delay: .2s;
}
.delay-3.plat {
    animation-delay: .3s;
}
.delay-4.plat {
    animation-delay: .4s;
}
.delay-5.plat {
    animation-delay: .5s;
}
.delay-6.plat {
    animation-delay: .6s;
}
.delay-7.plat {
    animation-delay: .7s;
}
.delay-8.plat {
    animation-delay: .8s;
}
.delay-9.plat {
    animation-delay: .9s;
}
/*animation_validation*/
.plat {
    &:active {
        & .descri_plat {
            width: 70%;
            transition: 0.5s ease-in-out;
            min-width: 200px;
        }
        & .fas.fa-check-circle {
            transform: rotate(0deg);
        }
        & .check {
            justify-content: center;
            margin-right: 0px;
            width: 100%;
            height: 100px;
            animation: fadein 1s;
        }
    }
}
@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes animrotate {
    from {
        opacity: 0;
    }
    to {
        transition-duration: 1s;
        transform: rotate(360deg);
        opacity: 1;
    }
}

@keyframes animenu {
    from {
        opacity: 0;
        top: 60px;
    }
    to {
        opacity: 1;
        top: 0px;
    }
}
/*loader*/
#loader_1 {
    top: 40px;
    left: -2.5px;
}

#loader_1 span {
    display: inline-block;
    width: 30px;
    height: 100px;
}

#loader_1 span:nth-child(1) {
    animation: load 1s ease-in-out infinite;
    background-color: $primary-color;
    border-radius: 100px;
}

#loader_1 span:nth-child(2) {
    animation: load 1s ease-in-out 0.15s infinite;
    background-color: $secondary-color;
    border-radius: 100px;
}

#loader_1 span:nth-child(3) {
    animation: load 1s ease-in-out 0.30s infinite;
    background-color: $primary-color;
    border-radius: 100px;
}

#loader_1 span:nth-child(4) {
    animation: load 1s ease-in-out 0.50s infinite;
    background-color: $secondary-color;
    border-radius: 100px;
}

#loader_1 span:nth-child(5) {
    animation: load 1s ease-in-out 0.70s infinite;
    background-color: $primary-color;
    border-radius: 100px;
}

@keyframes load {

    0%,
    100% {
        transform: scaleY(1);
    }

    50% {
        transform: scaleY(2);
    }
}

#bloc_page {
    align-items: center;
    justify-content: center;
}

#loader_1 {
      transition: visibility 3s;
      visibility: hidden;
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    padding-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    background-color: $back-color;
  
    
}