/*animation_ouverture menu*/
.delay-0.descri_plat  {
    animation-delay: 0s;
}

.delay-1.descri_plat {
    animation-delay: .1s;
}

.delay-2.descri_plat {
    animation-delay: .2s;
}

.delay-3.descri_plat {
    animation-delay: .3s;
}

.delay-4.descri_plat {
    animation-delay: .4s;
}

.delay-5.descri_plat {
    animation-delay: .5s;
}

.delay-6.descri_plat {
    animation-delay: .6s;
}

.delay-7.descri_plat {
    animation-delay: .7s;
}

.delay-8.descri_plat {
    animation-delay: .8s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/*animation_validation*/



.check {
position: absolute;
height: 100%;
background-color: #99E2D0;
font-size: 30px;
color: white;
align-items: center;
justify-content: center;
right: 0;
display: flex;
top: 0;

}
.descri_plat {
    position: relative;
    background-color: $white-color;
    border-radius: 15px;
    padding: 1px 5px 15px 15px;
    max-height: 80px;
    animation: fadein .5s;
    animation-fill-mode: both;
    max-width: 100%;
    margin-bottom: 10px;
 display: flex;
 overflow: hidden;
  flex-direction: column;
}

.fas.fa-check-circle {
    display: inline-block;
    padding: auto;
    background-color: $tertiary-color;
    border-radius: 0 15px 15px 0;
    color: $white-color;
    transform: rotate(90deg);
    max-width: 100%;

}
.plat:hover .fa-check-circle {
    transition-duration: 1s;
    transform: rotate(360deg)
    translateY(1.2)
}
.plat:hover{
        transition-duration: 0.4s;
}
.plat{
    display: flex;
    position: relative;
        height: auto;
        cursor: pointer;
        min-height: 90px;
        border-radius: 20px;
        box-shadow: 0px 0px 20px #0000002e;
        overflow: hidden;
       
        margin-bottom: 15px;
}
.descri_plat:hover {
    width: 80%;
    &.check{
        width:120%;
        transition: transform ease-out;
    }

}
.fas.fa-check-circle {
    display: inline;
    padding: 31px 27px 25px 20px;
    background-color: $tertiary-color;
    border-radius: 0 15px 15px 0;
    color: $white-color;

}





    /*loader*/
#loader_1 {
    top: 40px;
    left: -2.5px;
}

#loader_1 span {
    display: inline-block;
    width: 30px;
    height: 100px;

}

#loader_1 span:nth-child(1) {
    animation: load 1s ease-in-out infinite;
    background-color: $primary-color;
}

#loader_1 span:nth-child(2) {
    animation: load 1s ease-in-out 0.15s infinite;
    background-color: $secondary-color;
}

#loader_1 span:nth-child(3) {
    animation: load 1s ease-in-out 0.30s infinite;
    background-color: $primary-color;
}

#loader_1 span:nth-child(4) {
    animation: load 1s ease-in-out 0.50s infinite;
    background-color: $secondary-color;
}

#loader_1 span:nth-child(5) {
    animation: load 1s ease-in-out 0.70s infinite;
    background-color: $primary-color;
}

@keyframes load {

    0%,
    100% {
        transform: scaleY(1);
    }

    50% {
        transform: scaleY(2);
    }
}

#bloc_page {
    align-items: center;
    justify-content: center;
}

#loader_1 {
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    background-color: $back-color;
    visibility: hidden;
    transition: visibility 3s;
}

.titre_footer {
    font-size: 30px;
    font-family: 'shrikhand';
    margin-right: 10px;
    margin-left: 10px;
}

