

/*animation_validation*/

.menu_resto{
   padding: 0px 20px;
   margin-top: 20px;
  
}

.check {
  height: 100%;
  background-color: #99E2D0;
  font-size: 30px;
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;

}
.descri_plat {
display: inline;
     height: 100%;
     width:100%;
     background-color: white;
     float: left;
     border-top-left-radius: 20px;
     border-bottom-left-radius: 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: relative;
  overflow: hidden;

}
.prix{
    position: absolute;
    right: 0;
    margin-right: 10px;
   
}

.fas.fa-check-circle {
  
    transform: rotate(90deg);
    opacity: 1;

}
      

.plat{
    height: auto;
    cursor: pointer;
    width: 100%;
    min-height: 90px;
    border-radius: 20px;
    box-shadow:0px 0px 20px #0000002e;
    overflow: hidden;
}

.bloc{
  margin-top: 15px;
  display: flex;
  position: relative;
  row-gap: 22px;
  margin-bottom: 40px;
  animation-name: animenu;
  animation-duration: 2s;
  animation-fill-mode: both;
  opacity: 1;
   display: flex;
   flex-direction: column;
}


 .descri_plat:hover {
     width: 80%;
     animation-timing-function: 1s;
     z-index: 20;
     &:hover.fas.fa-check-circle{
         transition-duration: 1s;
         transform: rotate(360deg);
         opacity: 1;
     }

 }



 @keyframes animenu {
     from {
         opacity: 0;
         top: 60px;
     }

     to {
         opacity: 1;
         top: 0px;
     }
 }

    /*loader*/
#loader_1 {
    top: 40px;
    left: -2.5px;
}

#loader_1 span {
    display: inline-block;
    width: 30px;
    height: 100px;

}

#loader_1 span:nth-child(1) {
    animation: load 1s ease-in-out infinite;
    background-color: $primary-color;
}

#loader_1 span:nth-child(2) {
    animation: load 1s ease-in-out 0.15s infinite;
    background-color: $secondary-color;
}

#loader_1 span:nth-child(3) {
    animation: load 1s ease-in-out 0.30s infinite;
    background-color: $primary-color;
}

#loader_1 span:nth-child(4) {
    animation: load 1s ease-in-out 0.50s infinite;
    background-color: $secondary-color;
}

#loader_1 span:nth-child(5) {
    animation: load 1s ease-in-out 0.70s infinite;
    background-color: $primary-color;
}

@keyframes load {

    0%,
    100% {
        transform: scaleY(1);
    }

    50% {
        transform: scaleY(2);
    }
}

#bloc_page {
    align-items: center;
    justify-content: center;
}

#loader_1 {
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    background-color: $back-color;
    visibility: hidden;
    transition: visibility 3s;
}

.titre_footer {
    font-size: 30px;
    font-family: 'shrikhand';
    margin-right: 10px;
    margin-left: 10px;
}

