
/*logo_start*/
.logo_ohmyfood {
  
    padding: 20px 0 10px 0;
    width: 50%;
    margin-left: 20px;
    
}
.log{
    display: flex;
    justify-content: center;
    align-items: center;
}

/*footer*/
footer {
    position: relative;
    background-color: $black-color;
    color: $white-color;
    padding: 15px;
}
.titre_footer {
    font-size: 30px;
    font-family: 'shrikhand';
    margin-right: 10px;
    margin-left: 10px;
}
.contact_mail {
    color:$white-color;
}

    .titre_footer {
        display: flex;
        font-family: 'shrikhand';
        padding-top: 20px;
        padding-left: 20px;
        padding-bottom: 15px;     
    }
    .list_footer {
        flex-direction: column;
    }
    .footer_restaurant {
        display: inline;
        padding-left: 12px;
    }
    .footer_partenaire {
        display: inline;
        padding-left: 5px;
    }
/*fin de footer*/

/*trai_titre*/
.trait {
    border-bottom: solid $tertiary-color;
    width: 10%;
}
h2 {
    margin-left: 10px;
    @extend .trait;
}

/*bouton recherche*/
.recherche {
    text-align: center;
}
.zone_recherche {
    display: inline;
    background-color: #e6e6e6;
    padding-top: 20px;
    padding-bottom: 20px;
    border: none;
    margin-left: 10px;
    font-weight: 500;
    font-size: 15px;
}
.rchr {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e6e6e6;
    border-top: solid 2px grey;
}
.fas.fa-map-marker-alt {
    margin-left: 50px;
}
.recherche_bloc {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: $back-color;
}
/*fin bouton recherche*/

/*bouton commander + explorer*/
.bouton_debut {
    background: $color-button;
    color: $white-color;
    border-radius: 30px;
    font-size: 20px;
    max-width: 300px;
    padding: 15px;
    margin: 30px;
    border: none; 
    text-align: center;
    &:hover{
        opacity: 0.8;
    }
}

.bouton_menu {
   display: flex;
   justify-content: center;
   align-items: center;
    padding: 10px 50px 10px 50px;
    text-align: center;
     @extend .bouton_debut;
    &:hover{
        opacity: 0.8;
    }
}
    .btn{
        display: flex;
        justify-content: center;
        align-items: center;
      background-color: $back-color;
      top: 0;
}

/*fin bouton commander + explorer*/