/*base*/
html {
    overflow-x: hidden;
}

body {
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

header {
    font-family: 15px;
}

a {
    text-decoration: none;
    color: $black-color;
}

p {
    line-height: 5px;
}

h3 {
    line-height: 30px;
}
/*fin base*/


.head_menu {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    margin-right: 100px;
}

.decr {
    color: grey;
    margin-left: 10px;
    margin-right: 10px;
}

.reserv_titre {
    font-size: 30px;
    margin-left: 30px;
    margin-right: 30px;
}

h2 {
    margin-left: 10px;
    @extend .trait;
    text-transform: uppercase;
}
/*section_fonctionnement*/
.titre_fct {
    margin-left: 10px;
    font-size: 30px;
}

.diff_propos {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 0 20px 40px;
    width: 280px;
    background-color: $back-color;
    border-radius: 30px;
    padding-right: 30px;
    box-shadow: rgb(209, 209, 209) 3px 3px 3px 3px;

    &:hover {
        opacity: 0.9;
        background-color: $primary-color;
    }
}

.number {
    background-color: $primary-color;
    color: $white-color;
    border-radius: 250px;
    padding: 6px 4px 8px 10px;
    width: 20px;
    height: 20px;
    margin-left: -20px;
    font-size: 22px;
}
/*fin section_fonctionnement*/

/*section_restaurants*/
.titre_resto {
    font-size: 30px;
    font-family: shrikhand;
}

.logo_rest {
    width: 100%;
    object-fit: cover;
    height: 250px;
}
.resto {
    padding: 15px;
    background-color: $back-color;
    height: 100%;
}

.logo_resto {
    border-radius: 20px 20px 0 0;
    object-fit: cover;
    width: 100%;
}

.nouveau {
    position: relative;
    background-color: $tertiary-color;
    padding: 9px;
    border-radius: 5px;
    width: 60px;
    color: green;
    font-family: bold;
    margin: -180px 0 0 250px;
}

.descri_resto {
    margin: 130px 0 30px 0;
    padding: 10px 0 50px 10px;
    background-color: $white-color;
    font-size: 20px;
    border-radius: 0 0 20px 20px;
}
.descri_resto {
    margin-top: 130px;
    height: 50px;
    margin-bottom: 30px;
    padding-top: 10px;
    padding-bottom: 40px;
    padding-left: 10px;
    background-color: $white-color;
    font-size: 20px;
    border-radius: 0 0px 20px 20px;
}
.descri_resto_2 {
    @extend.descri_resto;
margin-top: -5px;
}
/*coeur*/
.far.fa-heart {
    position: relative;
   left: -35px;
}
.far.fa-heart:hover{
    display: none;
}

.fas.fa-heart {
    position: relative;
    color:transparent; 
}
.fas.fa-heart:hover {
      @include coeuranim
}
.coeur{
    display: flex;
    position: relative;
    right: -250px;
    top: -65px;
}
.coeur_2 {
    bottom: 0;
    right: 30px;
}
.coeur_1{
    right: -5px;
}
/*fin coeur*/


