/*base*/
html {
    overflow-x: hidden;
}

body {
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    text-overflow: ellipsis;
    overflow: hidden;
}

header {
    font-family: 15px;
}

a {
    text-decoration: none;
    color: $black-color;
}

p {

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
}

h3 {
    line-height: 30px;
    font-family: roboto;
}

h4 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.decr {
    color: grey;
    margin-left: 10px;
    margin-right: 10px;
}

.reserv_titre {
    font-size: 30px;
    margin-left: 30px;
    margin-right: 30px;
}

/*section_fonctionnement*/
.titre_fct {
    margin-left: 10px;
}

.diff_propos {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 0 20px 40px;
    width: 280px;
    background-color: $back-color;
    border-radius: 30px;
    padding-right: 30px;
    box-shadow: rgb(209, 209, 209) 3px 3px 3px 3px;

    &:active {
        opacity: 0.8;
        background-color: $primary-color;
    }
}

.bloc_fonctionnement {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}

.number {
    background-color: $primary-color;
    color: $white-color;
    border-radius: 250px;
    padding: 6px 4px 8px 10px;
    width: 20px;
    height: 20px;
    margin-left: -20px;
    font-size: 22px;
}

/*section_restaurants*/
.titre_restaurant {
    position: relative;
    margin-left: 20px;
    bottom: -70px;
}

.titre_resto {
    font-size: 30px;
    font-family: shrikhand;
}

.logo_rest {
    width: 100%;
    object-fit: cover;
    height: 250px;
}

.resto {
    padding: 70px 15px 15px 15px;
    background-color: $back-color;
    height: 100%;
}

.logo_resto {
    border-radius: 20px 20px 0 0;
    object-fit: cover;
    width: 100%;
}

.lien_restaurant {
    display: flex;
}

.descri {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nouveau {
    position: absolute;
    background-color: $tertiary-color;
    padding: 9px;
    border-radius: 5px;
    width: 60px;
    color: green;
    font-family: bold;
    right: 15px;
    margin-top: 10px;
    margin-right: 10px;
}

.descri_resto {
    height: 60px;
    padding-bottom: 30px;
    padding-left: 10px;
    background-color: $white-color;
    font-size: 20px;
    border-radius: 0 0px 20px 20px;
    margin-top: -30px;
}

.bloc_resto {
    margin-bottom: 10px;
}

/*coeur*/
.far.fa-heart {
    position: relative;
    left: -35px;
}

.far.fa-heart:hover {
    display: none;
}

.fas.fa-heart {
    position: absolute;
    color: transparent;
    right: 33.5px;
    top: -1.6px;
}

.fas.fa-heart:hover {
    @include coeuranim;
    z-index: 2;
    font-size: 35px;
}

.coeur {
    display: flex;
    position: absolute;
    right: 0;
}

.coeur_menu {
    display: flex;
    justify-content: right;
    position: relative;
}

.cm_1 {
    position: relative;
    right: 35px;
    color: blue;
}

.cm_2 {
    position: relative;
    right: 0px;
    top: 1.8px;
}

.cm_2:hover {
    @include coeuranim;
    z-index: 2;
    font-size: 35px;
}

