/*bloc titre plat*/
.page_menu {
   border-top-right-radius: 50px;
   border-top-left-radius: 50px;
   margin-top: -90px;
   position: absolute;
   width: 100%;
   background-color: #F4F4F4;

}





.trait {
    border-bottom: solid $tertiary-color;
    width: 10%;
}

h2 {
    margin-left: 10px;
    @extend .trait;
}

.titre_resto {
    font-size: 30px;
    font-family: shrikhand;
    margin-left: 20px;
}

.logo_rest {
    width: 100%;
    object-fit: cover;
    height: 250px;
}



@keyframes slidein {
    from{
        margin-left: 100%;
        width: 300%;
    }

    to {
        margin-left: 150px;
        width: 100%;
    }
}
