/*bloc titre plat*/
.page_menu {
    background-color: #f2f2f2;
    width: 100%;
    border-radius: 40px 40px 0 0;
    padding-top: 40px;
    margin-top: -40px;

}





.trait {
    border-bottom: solid $tertiary-color;
    width: 10%;
}

h2 {
    margin-left: 10px;
    @extend .trait;
}

.titre_resto {
    font-size: 30px;
    font-family: shrikhand;
}

.logo_rest {
    width: 100%;
    object-fit: cover;
    height: 250px;
}



@keyframes slidein {
    from{
        margin-left: 100%;
        width: 300%;
    }

    to {
        margin-left: 150px;
        width: 100%;
    }
}
