@media screen and (min-width: 1070px) {

    /*base*/
    #home {
        max-width: 1350px;
        margin: 0 auto;
    }

    body {
        max-width: 1300px;
        margin: 0 auto;
    }

    .logo_ohmyfood {
        max-width: 300px;
    }

    .body {
        width: 1200px;
        margin: 0 auto;
    }

    /*fin base*/
    .plat {
       
        &:hover {
            & .descri_plat {
                width: 70%;
                animation-timing-function: 1s;
                transition: 0.5s ease-in-out;
                min-width: 200px;
                max-width: 220px;
            }

            & .fas.fa-check-circle {
                transform: rotate(0deg);
            }

            & .check {
                justify-content: center;
                margin-right: 0px;
                width: 100%;
                animation: fadein 1s;
                transform: scalex(1);
             
            }
        }
    }

    /*footer*/
    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        font-size: 20px;
        max-width: 1300px;
        margin-left: 10px;
        margin-right: 10px;
    }

.bouton_debut {
    background: $color-button;
    color: $white-color;
    border-radius: 30px;
    font-size: 20px;
    max-width: 300px;
    padding: 15px;
    margin: 30px;
    border: none;
    text-align: center;

    &:hover {
        opacity: 0.8;
    }
}
.mention {
    padding-top: 20px;
}

.contact {
    padding-top: 20px;
}
    .footer_menu {
        max-width: 1320px;
        margin-left: 0;
    }

    .footer_part {
        padding-top: 20px;
    }

    .footer_rest {
        padding-top: 20px;
    }

    .titre_restaurant {
        position: relative;
        top: 50px;
        margin-left: 50px;
        font-size: 30px;
    }

    /*homepage_resto*/
    .resto {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: -50px;
        max-width: 1350px;
        flex-wrap: wrap;
    }

    .nouveau {
        position: relative;
        right: 0;
    }
    .bloc_resto {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        min-width: 470px;
        margin-right: 30px;
        margin-top: 30px;
        margin-left: 10px;
    }

    /*fonctionnement*/
    .titre_fct {
        font-size: 30px;
    }

    .bloc_fonctionnement {
        display: flex;
        flex-direction: row;
    }

    .diff_propos {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin: 0 0 20px 40px;
        width: 280px;
        background-color: $back-color;
        border-radius: 30px;
        padding-right: 30px;
        box-shadow: rgb(209, 209, 209) 3px 3px 3px 3px;
        &:hover {
            opacity: 0.8;
            background-color: $primary-color;
        }
    }
    .recherche_bloc {
        display: flex;
        justify-content: center;
    }
    /*menu*/
    .page_menu {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        max-width: 1350px;
    }
    .menu_resto {
        gap: 50px;
        flex-direction: row;
        display: flex;
        flex-wrap: wrap;
        margin-left: 80px;
    }

    .plat {
        width: 350px;
    }

    .titre-resto {
        display: flex;
        justify-content: space-between;
        margin-right: 50px;
    }

    .coeur_menu {
        display: flex;
        margin-left: 50px;
    }
    /*bouton commander */
    .bouton_menu {
        width: 1000px;
        align-items: center;
    }
}
@media screen and (min-width :609px) and (max-width : 1069px) {

    /*base*/
    .logo_ohmyfood {
        max-width: 300px;
    }
    .nouveau {
        right: -350px;
    }

    /*fonctionnement*/
    .bloc_fonctionnement {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
.bouton_debut {
    background: $color-button;
    color: $white-color;
    border-radius: 30px;
    font-size: 20px;
    max-width: 300px;
    padding: 15px;
    margin: 30px;
    border: none;
    text-align: center;

    &:hover {
        opacity: 0.8;
    }
}
    .recherche_bloc {
        display: flex;
        justify-content: center;
    }
    .plat {
        &:hover {
            & .descri_plat {
                width: 80%;
                animation-timing-function: 1s;
                transition: 0.5s ease-in-out;
                min-width: 400px;
            }

            & .fas.fa-check-circle {
                transform: rotate(0deg);
            }
            & .check {
                justify-content: center;
                margin-right: 0px;
                width: 100%;
                height: 100px;
                animation: fadein 1s;
                transform: scalex(1);
            }
        }
    }
    .diff_propos {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin: 0 0 20px 40px;
        width: 280px;
        background-color: $back-color;
        border-radius: 30px;
        padding-right: 30px;
        box-shadow: rgb(216, 211, 211) 3px;
        &:hover {
            opacity: 0.8;
            background-color: $primary-color;
        }
    }

    /*footer*/
    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        font-size: 15px;
        padding-top: 30px;
    }

    .footer_menu {
        bottom: 0;
        max-width: 1320px;
        margin-left: 0;
    }

    .footer_rest {
        margin-top: 10px;
    }

    .footer_part {
        margin-top: 10px;
    }

    .titre_footer {
        margin-top: -20px;
    }
    .mention {
        margin-top: 10px;
    }
    .contact {
        margin-top: 10px;
    }
}