html {
  overflow-x: hidden;
}

body {
  margin: 0 auto;
}

header {
  font-family: 15px;
}

/*footer*/
footer {
  display: block;
  background-color: #333131;
  color: white;
  padding: 15px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

a {
  text-decoration: none;
  color: black;
}

p {
  line-height: 5px;
}

h3 {
  line-height: 30px;
}

#bloc_page {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.titre_footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
  font-family: shrikhand;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 15px;
}

.list_footer {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer_restaurant {
  display: inline;
  padding-left: 12px;
  line-height: 1px;
}

.footer_partenaire {
  display: inline;
  padding-top: 20px;
  padding-left: 5px;
  line-height: 1px;
}

/*logo_start*/
.logo_ohmyfood {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
  width: 70%;
  height: 70%;
}

/*arrow back*/
.fas-fa-arrow-left {
  margin-top: 20px;
}

/*bouton recherche*/
.recherche {
  display: inline;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.zone_recherche {
  display: inline;
  background-color: #b6b6b6;
  text-align: center;
  margin-right: 0px;
  padding-left: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 10px;
}

.fas.fa-map-marker-alt {
  float: left;
  margin-left: 60px;
  margin-top: 10px;
}

.bouton {
  display: inline;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 35px;
  border-radius: 30px;
  padding: 15px;
  color: white;
  font-size: 20px;
  background-color: linear-gradient(to right, #9356DC, #99E2D0);
}

.recherche_bloc {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #e7e7e7;
  padding-top: 20px;
}

/*section_fonctionnement*/
.titre_fct {
  margin-left: 10px;
  font-size: 30px;
}

.Fonctionnement {
  padding-top: 15px;
}

.bloc_fonctionnement {
  padding-bottom: 15px;
  padding-top: 10px;
  margin-left: -25px;
}

.diff_propos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: white;
  margin-left: 40px;
  width: 280px;
  gap: 5%;
  margin-bottom: 20px;
  background-color: #eeeeee;
  border-radius: 30px;
  padding-right: 30px;
  -webkit-box-shadow: #d1d1d1 3px 3px 3px 3px;
          box-shadow: #d1d1d1 3px 3px 3px 3px;
}

.number {
  float: left;
  background-color: #9356DC;
  color: white;
  border-radius: 250px;
  padding: 6px 4px 8px 10px;
  width: 20px;
  height: 20px;
  margin-left: -20px;
  font-size: 22px;
}

/*section_restaurants*/
.resto {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 20px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  background-color: #f2f2f2;
  height: 100%;
}

.bloc_resto {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.logo_resto {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 20px 20px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.nouveau {
  position: relative;
  background-color: #99E2D0;
  padding: 10px;
  border-radius: 5px;
  width: 60px;
  color: #4f8c7d;
  font-family: bold;
  margin-top: -180px;
  margin-left: 220px;
}

.descri_resto {
  margin-top: 130px;
  height: 50px;
  margin-bottom: 30px;
  padding-top: 10px;
  padding-bottom: 30px;
  padding-left: 10px;
  background-color: white;
  font-size: 20px;
  border-radius: 0 0px 20px 20px;
}

.descri_resto_2 {
  padding-left: 10px;
  height: 50px;
  background-color: white;
  padding-top: 10px;
  padding-bottom: 20px;
  margin-bottom: 15px;
  margin-top: -10px;
  border-radius: 0 0px 20px 20px;
}

.far.fa-heart {
  float: left;
  position: relative;
  margin-left: 250px;
  margin-top: -60px;
}

/*a la francaise*/
/*bloc titre plat*/
.page_menu {
  background-color: #f2f2f2;
  width: 100%;
  padding-top: 30px;
  border-radius: 40px 40px 0 0;
  margin-top: -40px;
  position: relative;
  z-index: 1;
}

.descri_plat {
  background-color: white;
  border-radius: 15px;
  margin: 0 10px 0 10px;
  margin-bottom: 10px;
  max-height: 100px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-animation: mymove .5s;
          animation: mymove .5s;
  -webkit-transform: translate();
          transform: translate();
}

.fas.fa-check-circle {
  float: right;
  position: relative;
  margin-top: -50px;
  margin-right: 10px;
  z-index: 1;
}

.trait, h2 {
  border-bottom: solid #99E2D0;
  width: 10%;
}

h2 {
  margin-left: 10px;
}

.titre_resto {
  font-size: 30px;
  font-family: shrikhand;
}

.logo_rest {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 250px;
}

.bouton {
  color: white;
  background-color: violet;
  padding: 15px;
  width: 220px;
  margin: 29px 0px 29px 80px;
}

/*animation*/
@-webkit-keyframes mymove {
  0% {
    -webkit-transform: scaley(0);
            transform: scaley(0);
  }
  17% {
    -webkit-transform: scaleY(0.18);
            transform: scaleY(0.18);
  }
  24% {
    -webkit-transform: scaleY(0.4);
            transform: scaleY(0.4);
  }
  46% {
    -webkit-transform: scaleY(0.81);
            transform: scaleY(0.81);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}
@keyframes mymove {
  0% {
    -webkit-transform: scaley(0);
            transform: scaley(0);
  }
  17% {
    -webkit-transform: scaleY(0.18);
            transform: scaleY(0.18);
  }
  24% {
    -webkit-transform: scaleY(0.4);
            transform: scaleY(0.4);
  }
  46% {
    -webkit-transform: scaleY(0.81);
            transform: scaleY(0.81);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

.delay-0-descri_plat {
  -webkit-animation-delay: 50ms;
          animation-delay: 50ms;
}

.delay-1-descri_plat {
  -webkit-animation-delay: 50ms;
          animation-delay: 50ms;
}
/*# sourceMappingURL=main.css.map */