$primary-color:#9356DC;
$secondary-color:#FF79DA;
$tertiary-color:#99E2D0;

$head-font: "roboto",roboto;
$body-font: "shrikhand",shrikhand;

$small-screen: "screen and (max-width: 760px)";
$medium-screen: "screen and (min-width: 761px)" "(max-width:1200)";
$large-screen: "screen and (min-width: 1201px)";